<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yoursweeper</title>
</head>
<body>
    <h1>Yoursweeper</h1>
    {% if request.user.is_authenticated %}

    {% comment %} Ezt még át kell írni úgy, hogy post request legyen! Újabb django verziók erre háklisak {% endcomment %}
    <p><a href="ujjatek/">Új játék indítása</a></p>
    <p><a href="lobby/">Belépés a játékba</a></p>
    <p><a href="logout/">Kijelentkezés</a></p>    

    {% else %}

    <p><a href="regisztracio/">Regisztráció</a></p>
    <p><a href="login/">Belépés</a></p>
    {% endif %}
    

</body>
</html>